*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root{
    --bg-color: #394a51;
    --border-color: #cfab7c;
    --font-color: #fbf2d5;
    --background-button-fp: #0e815b;
    --background-button-sp: #9c3f13;
    --font_text: font-family: "Roboto Mono", monospace;
}       

body{
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3; 
    z-index: -1; 
}

header {
    font-family: var(--font_text);
    background-color: var(--border-color);
    border-radius: 3px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-column: 1/4;
    place-self: center;
    text-align: center;
}

main {
    font-family: var(--font_text);
    font-size: 1.3rem;
    background-color: var(--border-color);
    grid-column: 1/4;
    place-self: start center;
    padding: 1rem;
    height:30rem;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#div-input-names {
    grid-column: 1/4;
    grid-row: 1;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.4rem;
}

#div-input-names > p {
    grid-column: 1/4;
    grid-row: 1;
}

.first-player {
    grid-column: 1/2;
    grid-row: 2;
}

.second-player {
    grid-column: 2/3;
    grid-row: 2;
}

#button-start {
    grid-column: 3/4;
    grid-row: 2;
    height: 2rem;
    width: 5rem;
    border-radius: 9rem;
}

#button-start:hover {
    background-color: #394a51;
    transition: 0.3s;
}

.current-player {
    grid-column: 1/4;
    grid-row: 3;
    place-content: center;
}

.current-player > input {
    height: 2rem;
    border-radius: 9rem;
    margin-bottom: 0.4rem
}

#display-tic-tac-toe {
    grid-column: 1/4;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

#key-1 {
    grid-column: 1;
    grid-row: 1;
    
}

#key-2 {
    grid-column: 2;
    grid-row: 1;
    
}

#key-3 {
    grid-column: 3;
    grid-row: 1;
}

#key-4 {
    grid-column: 1;
    grid-row: 2;
}

#key-5 {
    grid-column: 2;
    grid-row: 2;
}

#key-6 {
    grid-column: 3;
    grid-row: 2;
}

#key-7 {
    grid-column: 1;
    grid-row: 3;
}
#key-8 {
    grid-column: 2;
    grid-row: 3;
}
#key-9 {
    grid-column: 3;
    grid-row: 3;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--font-color);
}